* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}


#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
a{
color:white;
font-size: 5rem;
background-color: black;
padding:  14px 25px;display: inline-block;

}
h1 {
  color: white;
  font-weight: 600;
  font-size: 9rem;
  opacity: 1;
  
}
h2,
p  {
	
 
  
  color: white;
  font-weight: 500;
  font-size:5rem;
  opacity: 0.8;
  text-align:right;
  
}

h3 {
  color: black;
  font-weight: 600;
   font-size:5rem;
  opacity: 0.8;
  
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top,  rgba(0,0,0,0.8),rgba(0,0,225,0.4));
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
 background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 2rem;
  z-index:6 ;
  backdrop-filter: blur(40px);
  display: flex;
 
}

.circle1,
.circle2 {
  
  background: linear-gradient(
    to right top, rgba(0,0,0,0.5),rgba(0,0,0,0.1)
  );
  height: 35rem;
  width: 35rem;
  position: absolute;
  border-radius: 4rem;
  
  
}

.circle1 {
  top: 0%;

  right: 15%;
}
.circle2 {
  bottom: 0%;
  
   
  left: 14%;
}
.dashboard {
  flex: 1;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  
  border-radius: 4rem;
  text-align:right;
  
}


.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}



.pro {
  background: linear-gradient(to right top, rgba(0,0,0,0.7),rgba(0,0,0,0.3));
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
  z-index:6 ;
  backdrop-filter: blur(40px);
  display: flex;
}

.pro img {
  position: absolute;
  top: -10%;
  right: 10%;
}
.pro h2 {
  width: 40%;
  color: white;
  font-weight: 600;

.status {
  margin-bottom: 3rem;
}

.status {
  background: linear-gradient(
    to right bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.1)
    
  );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
}



.card {
  display: flex;
  background: linear-gradient(
    to left top,
rgba(0,0,0,0.5),rgba(0,0,0,0.1)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.212);
  justify-content: space-between;
  }


.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

